@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;700&family=Poppins:wght@500&family=Roboto:wght@900&display=swap');



body {
    background-image: url("./assets/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}
.game-start-image {
    display: flex;
    color: white;
    justify-content: space-evenly;
    /* background-color: rgb(85, 85, 122); */
    align-items: flex-end;
}
h1 {
    color: rgb(90, 37, 192);
    text-align: center;
    font-size: 60px;
}
.game-start-image > div {
    display: flex;
    justify-content: space-around;
    width: 200px;
}
.game-start-image > div > img {
    height: 50px;
}

#start-game-button > p {
    cursor: pointer;
}
